/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

ul {
    margin: 0;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0 0 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
                
/*******Header*********/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
    height: 79px;

}

header img {
    height: 20px;
    width: 60px;
    padding: 30px 0;
    
}

header ul {
    display: flex;
    flex-direction: row;
}

header li {
    list-style-type: none;
    padding: 15px;
}

header li:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.informations-text {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 15px 0;
}

/********Recherche*********/

form {
    display: flex;
    height: 49px; 
    margin: 35px 0;
    
}

form .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #F2F2F2;
    height: 100%;
    width: 49px;
    border-radius: 15px 0 0 15px;
}

#recherche {
    border: 2px solid #F2F2F2;
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 0;
    
}

.bouton-recherche {
    display: flex;
    align-items: center;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 0 20px;
}


.bouton-recherche i {
    display: none;
}

.bouton-recherche:hover {
    cursor: pointer;
}

/********Filtres*********/

.filtres {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filtres p {
    font-weight: 700;
    font-size: 18px;
}

.filtres i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
}

.conteneur-boutons {
    display: flex;
    gap: 15px;
}

.bouton-filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: white;
    border: 2px solid #D9D9D9;
    font-weight: 700;
    font-size: 17px;
    border-radius: 25px;
    padding: 5px 20px;
    gap: 10px;
}

.bouton-filtre:hover {
    background-color: #DEEBFF;
    cursor: pointer;
}

.info i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    margin: 0 15px 0 0;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
    margin: 30px 0;
}

/****** Hebergements And Populaires ***********/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

#hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

#hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin: 25px 0;
}

.hebergements-cards a {
    width: 32%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 170px;
    margin: 6px 6px 6px 0;
    padding-bottom: 15px;
}

.hebergements-cards img {
    height: 60%;
    width: 100% ;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-txt {
    margin-left: 5px;
}

.hebergements-cards .card-title {
    margin: 7px 0;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.hebergements-cards .card-subtitle {
    margin: 5px 0;
}

.hebergements-info {
    font-weight: 700;
    font-size: 18px;
    padding-top: 50px;
}


/********* Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/********* Activités ********/

#activites {
    margin: 20px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.activites-cards a {
    width: 23%;
}

.activites-cards .card {
    height: 415px;
    padding: 0 0 15px 0;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.1));
}

.activites-cards img {
    height: 89%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content {
    padding-left: 15px;
}

/********* Footer *********/

footer {
    display: flex;
    justify-content: space-between;
    background: #F2F2F2;
    margin-top: 35px;
    padding: 10px;
}

footer h3 {
    font-size: 18px;
}

.footer-conteneur {
    padding-left: 15px;
    width: 30%;
}

footer ul {
    padding: 0;
    margin: 10px 0;
}

footer li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filtres {
        flex-direction: column;
        gap: 0;
    }

    .conteneur-boutons {
        flex-wrap: wrap;
    }

    #hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0;
    }

    .header{
        flex-direction: column;
        align-items: center;
        margin: 0 0 60px 0;
    }

    .header ul {
        width: 100%;
        padding: 0;
    }

    .header li {
        padding: 0 0 15px 0;
        text-align: center;
        width: 50%;
        border-bottom: 2px solid #F2F2F2;
    }

    header li:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

    h1 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .informations-text {
        margin-left: 20px;
        margin-right: 20px;
    }

    form {
        margin-left: 20px;
        margin-right: 10px;
    }

    #recherche {
        width: 80%;
    }

    .bouton-recherche {
        border-radius: 15px;
        position: relative;
        right: 10px;
        padding: 0 17px;
        box-shadow: 0px 2px 5px grey;
    }

    .bouton-recherche-text {
        display: none;
    }

    .bouton-recherche i {
        display: flex;
        color: white;
    }

    .filtres p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .conteneur-boutons {
        justify-content: center;
    }

    .bouton-filtre {
        width: 45%;
    }

    .info {
        margin-left: 20px;
        margin-right: 20px;
    }

    #hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    #hebergements-and-populaires section {
        border-radius: 0;
        background-color: white;
    }

    .hebergements-cards {
        flex-direction: column;       
    }
    
    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        margin: 0 6px 15px 0;
    }

    .hebergements-info {
        padding: 0;
    }

    .populaires-cards {
        flex-direction: column;
    }
    
    .populaires-cards a {
        width: 100%;
    }
    
    #activites {
        padding: 20px;
        margin: 20px 0;
    }

    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a {
        width: 100%;
        margin-bottom: 15px;
    }

    .activites-cards .card {
        height: 150px;
    }

    .activites-cards img {
        height: 75%;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    .footer-conteneur {
        margin: 10px 0;
    }
}
